[submodule "facecompressor"]
	path = facecompressor
	url = git@github.com:abel-bernabeu/facecompressor.git
	branch = master
[submodule "srgan"]
	path = srgan
	url = git@github.com/calebemonteiro/AIDL_Project
